body {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0px;
  /* background-color: #D9D9D999; */
  background-color: #fff;
}

body .ui {
  scrollbar-width: unset;
}

.ui.button-with-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ui.button-with-icon svg{
  margin-right: 8px;
}

.no-padding-menu .item {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ui.primary.button {
  background-color: #4AA8EE;
}

.main.menu {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #16ab39;
  padding: 8px 16px;
  height: 56px;
}

.main-content {
  margin: 16px 16px 32px 16px;
}

#toggleSidebarButton {
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  align-self: center;
}

#toggleSidebarButton i {
  margin: 0px !important;
}

.main.menu .item {
  color: white;
}

.main.menu .item.logo {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px; /* 66.667% */
  padding: 0 16px;
}

.main.menu .item::before {
  width: 0px !important;
}

.auth-wrapper {
  min-height: 100vh;
  display: grid !important;
  place-items: center;
}

.auth.card {
  padding: 64px;
  width: 408px;
}

.auth-header {
  margin-bottom: 32px !important;
}

.sidebar-menu {
  top: 60px !important;
}

.user-avatar {
  width: 32px;
  height: 32px;
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: 2px solid #FFF;
  border-radius: 16px;
  background-color: #A333C8;
  display: grid;
  place-items: center;
}

.main-content{
  transition: width 0.5s ease;
  width: calc(100% - 280px);
}

#left-menu.hidden + .main-content {
  width: calc(100% - 40px) !important;
}

#left-menu {
  transition: width 0.5s ease, transform 0.5s ease;
  width: 250px;
}

#left-menu .ui.accordion>.title {
  color: rgba(255, 255, 255, .9);
}

#left-menu .ui.accordion .title>.dropdown.icon {
  position: absolute;
  top: 22px;
  right: 10px;
}

.hidden {
  transform: translateX(-300px);
  width: 0px !important;
}

.d-flex {
  display: flex;
}

.w-100 {
  width: 100% !important;
}

.w-input-100, .w-input-100 input, .w-input-100 textarea{
  width: 100% !important;
}

.p-0 {
  padding: 0px !important;
}

.m-0 {
  margin: 0px !important;
}

.align-items-center {
  align-items: center;
}

.align-content-center {
  align-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-between {
  justify-content: space-between;
}

.underline {
  text-decoration: underline;
}

.th-sortable:hover {
  background-color: #eee !important;
  text-decoration: underline;
  cursor: pointer !important;
}

.custom-icon {
  display: grid !important;
  place-items: center !important;
}

.form-card {
  background-color: #00000000 !important;
}

.form-card .form-header {
  margin: -14px -14px 0 !important;
  padding: 7px 14px;
}

.form-card .form-header, .form-table th{
  background-color: #E0E1E2 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.pagination-container .ui.menu{
  box-shadow: unset;
}

.pagination-container .pagination-input{
  height: 36px;
  vertical-align: top;
  width: 90px;
}


.list-seetings-button{
  cursor: pointer;
  font-size: 14pt;
}

/* Modal draggable list */
.draggable-item {
  transition: all 0.2s ease;
}

.draggable-item:hover {
  background-color: #f0f0f0 !important;
}

.sortable-ghost {
  opacity: 0.4;
  background: #e0e1e2 !important;
}

.sortable-chosen {
  background: #fff !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.sortable-drag {
  opacity: 0.8;
}

.drag-handle-modal {
  color: #999;
  user-select: none;
}

.draggable-list-container {
  position: relative;
}

.draggable-list-container::-webkit-scrollbar {
  width: 8px;
}

.draggable-list-container::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.draggable-list-container::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 4px;
}

.draggable-list-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.drag-handle-modal:hover {
  color: #333;
}
