body {
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 114.286% */
  letter-spacing: 0px;
  background-color: #D9D9D999;
}

.ui.button-with-icon {
  display: flex;
  align-items: center;
}
.ui.button-with-icon svg{
  margin-right: 8px;
}

.no-padding-menu .item {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.ui.primary.button {
  background-color: #4AA8EE;
}

.main.menu {
  border: none;
  border-radius: 0;
  box-shadow: none;
  background-color: #2185D0;
  padding: 8px 16px;
  height: 56px;
}

.main-content {
  margin: 16px 16px 32px 16px;
}

#toggleSidebarButton {
  padding: 0;
  margin: 0;
  height: 24px;
  width: 24px;
  align-self: center;
}

#toggleSidebarButton i {
  margin: 0px !important;
}

.main.menu .item {
  color: white;
}

.main.menu .item.logo {
  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: 16px; /* 66.667% */
  padding: 0 16px;
}

.main.menu .item::before {
  width: 0px !important;
}

.auth-wrapper {
  min-height: 100vh;
  display: grid !important;
  place-items: center;
}

.auth.card {
  padding: 64px;
  width: 408px;
}

.auth-header {
  margin-bottom: 32px !important;
}

.sidebar-menu {
  top: 60px !important;
}

.user-avatar {
  width: 32px;
  height: 32px;
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  border: 2px solid #FFF;
  border-radius: 16px;
  background-color: #A333C8;
  display: grid;
  place-items: center;
}

.main-content{
  transition: transform 0.5s ease;
}

#left-menu.hidden + .main-content {
  transform: translateX(-250px);
}

#left-menu {
  transition: transform 0.5s ease;
}

.hidden {
  transform: translateX(-250px);
}

.d-flex {
  display: flex;
}